/* Fonte Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Fonte Noto Color Emoji */
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, "Noto Color Emoji ";
  color: white;
  background-color: #0A0A0A;
}

.bg_feed_img {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  filter: grayscale(0.9);
}

.bg_feed_black {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid red; */
  width: 100%;
}

.container {
  /* display: flex;
  flex-direction: column; */
  width: 65%;
  align-items: center;
  /* justify-content: center; */
  /* border: solid blue; */
}

nav {
  /* border: solid green; */
  height: 120px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

h1 {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: 400;
  height: 100%;
  align-items: center;
}

#div_resultado {
  /* border: solid; */
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#div_resultado button {
  font-size: 48px;
  opacity: 0.8;
  transition: opacity 0.4s;
}

#div_resultado button:hover {
  opacity: 1;
}

#div_resultado h1 {
  font-size: 90px;
  /* border: solid red; */
  height: fit-content;
  width: 100%;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  align-items: center;
}


#div_resultado span {
  width: 100%;
  height: fit-content;
  font-size: 48px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.saudacao h1 {
  font-size: 48px;
  font-weight: 600;
  height: fit-content;
  width: fit-content;
  text-align: left;
  justify-content: left;
  /* border: solid; */
}

.saudacao .nome {
  color: #dc2626;
  font-size: 48px;
  font-weight: 600;
  height: fit-content;
  width: fit-content;
  margin-left: 1rem;
  /* border: solid; */
}

.saudacao {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border: solid; */
}

.box_infos .desc {
  color: white;
  font-size: 22px;
  text-align: center;
}

.group_li {
  display: flex;
  /* border: solid salmon; */
  font-size: 22px;
  font-weight: 300;
  width: 500px;
  justify-content: space-between;
}

.group_li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.4s;
}

.group_li a:hover {
  font-weight: 400;
  color: #dc2626;
}

.logo {
  /* border: solid brown; */
  justify-content: center;
  text-align: center;
  align-items: center;
}

li {
  display: flex;
  /* border: solid violet; */
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.sair {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}

.sair a {
  text-decoration: none;
  padding: 0 2rem;
  color: white;
  font-weight: 600;
  transition: color 0.4s;
}

.sair a:hover {
  font-weight: 600;
  color: #dc2626;
}

.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: solid red; */
    height: 80vh;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.box_jogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid red; */
  height: 100vh;
  width: 100%;
}

.num_questao {
  /* border: solid; */
  height: fit-content;
  width: 100%;
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  justify-content: center;
}

.num_camisa {
  /* border: solid; */
  height: fit-content;
  width: 100%;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.num_ano {
  /* border: solid; */
  height: fit-content;
  width: 100%;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.quem {
  /* border: solid; */
  height: fit-content;
  width: 100%;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.box_opcoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
  align-items: center;
  /* flex-direction: column;   */
  /* border: solid; */
  width: 100%;
  /* padding: 5rem 0; */
}

.linha_01, .linha_02 {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  /* border: solid; */
  justify-content: space-between;
  padding: 2rem 0;
}

.btns_game {
  padding: 2rem;
  width: 100%;
  opacity: 0.8;
  transition: opacity 0.4s;
}



.btns_game:hover {
  opacity: 1;
}

.box_infos {
  display: flex;
  flex-direction: column;
  width: 70%;
  /* border: solid; */
}

.box_infos button {
  opacity: 0.8;
  transition: opacity 0.4s;
}

.box_infos button:hover {
  opacity: 1;
}

/* .banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid red;
  height: 80vh;
} */

.left_side {
    display: flex;
    width: 50%;
    /* border: solid blue; */
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    width: 80%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.infos {
    display: flex;
    flex-direction: column;
    /* border: solid red; */
    height: 90%;
    width: 80%;
    /* text-align: center; */
}

.infos h1 {
    display: flex;
    justify-content: center;
    font-weight: 500;
    /* border: solid green; */
    height: min-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

h5 {
    font-weight: 300;
    text-align: center;
}

.box_campos {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: solid green; */
    padding: 0;
}

.campos {
    display: flex;
    /* padding: 0.5rem 0; */
    margin: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid red; */
    width: 72px;
}

input {
    width: 100%;
    padding: 1.2rem 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: #D9D9D9;
    text-align: start;
    font-family: Poppins;
    font-size: medium;
}

select {
    width: 100%;
    padding: 1.4rem 0;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: #d9d9d978;
    text-align: start;
    font-family: Poppins;
    font-size: medium;
    appearance: none;
}

option {
    background-color: black;
}

#h2_pergunta {
  text-align: center;
}

button {
    width: 100%;
    padding: 1rem 0;
    color: white;
    background-color: #dc2626;
    border: none;
    border-radius: 8px;
    font-family: Poppins;
    font-size: xx-large;
    font-weight: 500;
    cursor: pointer;
}

.right_side {
    display: flex;
    width: 50%;
    /* border: solid green; */
    justify-content: center;
    align-items: center;
}

.right_side img {
    height: 600px;
    width: 450px;
}

.fade-in-top {
	animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bold {
  font-weight: 600;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dc2626;
}