/* Fonte Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Fonte Noto Color Emoji */
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, "Noto Color Emoji ";
  color: white;
  background-color: #0A0A0A;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid red; */
  width: 100%;
}

.container {
  width: 65%;
  /* border: solid blue; */
}

nav {
  /* border: solid green; */
  height: 120px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

h1 {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: 400;
  height: 100%;
  align-items: center;
}

.group_li {
  display: flex;
  /* border: solid salmon; */
  font-size: 22px;
  font-weight: 300;
  width: 500px;
  justify-content: space-between;
}

.group_li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

.group_li a:hover {
  font-weight: 400;
  color: #dc2626;
}

.logo {
  /* border: solid brown; */
  justify-content: center;
  text-align: center;
  align-items: center;
}

li {
  display: flex;
  /* border: solid violet; */
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.sair {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}

.sair a {
  text-decoration: none;
  padding: 0 2rem;
  color: white;
  font-weight: 600;
}

.sair a:hover {
  font-weight: 600;
  color: #dc2626;
}

.banner {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* border: solid red; */
    height: 80vh;
}

.noticia {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.banner h1 {
  height: 100px;
  width: 100%;
  font-weight: 600;
}

.noticia h2 {
  height: fit-content;
  font-weight: 400;
}

.ilustracao {
  height: 50vh;
  width: 100%;
  border-radius: 12px;
  /* background-image: url(../assets/ilustracoes_noticias/wirtz.png); */
  background-size: cover;
  background-position: center;
}

.wirtz {
  background-image: url(../assets/ilustracoes_noticias/wirtz.png);
}

.salah {
  background-image: url(../assets/ilustracoes_noticias/salah.png);
}

.konate {
  background-image: url(../assets/ilustracoes_noticias/konate.png);
}

.murillo {
  background-image: url(../assets/ilustracoes_noticias/murillo.png);
}

.alexander {
  background-image: url(../assets/ilustracoes_noticias/alexander.png);
}

hr {
  width: 100%;
  margin: 3rem 0;
  border: #dc2626 solid thin;
}

.manchete {
  padding: 1rem 0;
  text-align: justify;
}

.manchete a {
  color: #dc2626;
  text-decoration: none;
}

.left_side {
    display: flex;
    width: 50%;
    /* border: solid blue; */
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    width: 80%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.infos {
    display: flex;
    flex-direction: column;
    /* border: solid red; */
    height: 90%;
    width: 80%;
    /* text-align: center; */
}

.infos h1 {
    display: flex;
    justify-content: center;
    font-weight: 500;
    /* border: solid green; */
    height: min-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

h5 {
    font-weight: 300;
    text-align: center;
}

.box_campos {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: solid green; */
    padding: 0;
}

.campos {
    display: flex;
    /* padding: 0.5rem 0; */
    margin: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid red; */
    width: 72px;
}

input {
    width: 100%;
    padding: 1.2rem 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: #D9D9D9;
    text-align: start;
    font-family: Poppins;
    font-size: medium;
}

select {
    width: 100%;
    padding: 1.4rem 0;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: #d9d9d978;
    text-align: start;
    font-family: Poppins;
    font-size: medium;
    appearance: none;
}

option {
    background-color: black;
}

button {
    width: 100%;
    padding: 1rem 0;
    color: white;
    background-color: #dc2626;
    border: none;
    border-radius: 8px;
    font-family: Poppins;
    font-size: xx-large;
    font-weight: 500;
    cursor: pointer;
}

.right_side {
    display: flex;
    width: 50%;
    /* border: solid green; */
    justify-content: center;
    align-items: center;
}

.right_side img {
    height: 600px;
    width: 450px;
}

.fade-in-top {
	animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bold {
  font-weight: 600;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dc2626;
}